<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/qb_icon"

        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizBankTest"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".activity.bank.BankSingleAnswerQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.account.AccountSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.account.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.group.GroupSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.group.ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activity.group.GroupPageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.bank.BankQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.group.GroupListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.scan.TagActivity"
            android:exported="false" />
        <activity
            android:name=".activity.account.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.scan.ScannerTextWorkSpaceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".activity.paint.ColorPickerActivity1"
            android:exported="false" />
        <activity
            android:name=".activity.bank.BankActivity"
            android:exported="false" />
        <activity
            android:name=".activity.paint.PaintActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.quiz.SingleQuestion" />
        <activity android:name=".activity.quiz.SingleQuestionSetting" />
        <activity
            android:name=".activity.quiz.SingleQuiz"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.quiz.SingleQuizSetting" />
        <activity android:name=".activity.quiz.QuizPage" />
        <activity android:name=".activity.quiz.RecordPage" />
        <activity android:name=".activity.quiz.SPStartQuiz" />
        <activity android:name=".activity.quiz.SPQuizFinish" />
        <activity android:name=".activity.quiz.SPSingleRecord" />
        <activity android:name=".activity.quiz.MPQuizFinish" />
        <activity
            android:name=".activity.quiz.MPStartQuiz"
            android:theme="@style/StartQuiz" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.quizbanktest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path" />
        </provider>
    </application>

</manifest>